body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.signup-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.signup-form h2 {
  margin-top: 0;
  text-align: center;
}
.signup-form form {
  display: flex;
  flex-direction: column;
}
.signup-form label {
  margin: 10px 0 5px;
}
.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.signup-form input[type="submit"] {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border: none;
}
.signup-form input[type="submit"]:hover {
  background-color: #218838;
}
.signup-form div {
  margin-bottom: 10px;
}
.signup-form h3 {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.signup-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.signup-form h2 {
  margin-top: 0;
  text-align: center;
}
.signup-form .check {
  display: flex;
  flex-direction: column;
}
.signup-form label {
  margin-top: 5px;
}
.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="submit"],
.signup-form input[type="password"] {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.signup-form input[type="radio"] {
  flex-direction: row;
}
.signup-form input[type="submit"] {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border: none;
}
.signup-form input[type="submit"]:hover {
  background-color: #218838;
}
.signup-form div {
  margin-bottom: 10px;
}
.signup-form h3 {
  text-align: center;
}
.signup-form p {
  font-size: 15px;
  color: red;
}
#terms {
  position: relative;
  display: inline-block;
}

#tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 200px;
}

#terms:hover #tooltip {
  display: block;
}

#tooltip p {
  margin: 0;
}
